# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
*               text=auto

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.js            text eol=lf
*.js.map        text eol=lf
*.json          text eol=lf
*.snap          text eol=lf
*.ts            text eol=lf
*.yaml          text eol=lf
.gitattributes  text eol=lf linguist-language=gitattributes
.gitignore      text eol=lf
